<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <!--    로그가 쌓일 경로와 어떤 레벨의 로글를 쌓을 건지 설정(info 이상의 로그만)  -->
  <property name="LOGS_PATH" value="./logs"/>
  <property name="LOGS_LEVEL" value="INFO"/>

  <!--    console appender - 콘솔에 출력될 log  설정 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{HH:mm} %-5level %logger{36} = %msg%n</pattern>
    </layout>
  </appender>

  <!--    FILE appender - -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS_PATH}/log_file.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <!--        Rolling 정책 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

      <!--           gz, zip 등을 넣으면 자동 일자별 로그파일을 압축한다.-->
      <fileNamePattern>${LOGS_PATH}/%d{yyyy-MM-dd}_%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>60</maxHistory>
    </rollingPolicy>
  </appender>


  <!--    Error appender -->
  <appender name="Error" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <!-- 파일명과 경로 설정   -->
    <file>${LOGS_PATH}/error_file.log</file>
<!--    출력 패턴 설정-->
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <!-- Rolling 정책 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

      <!-- gz, zip 등을 넣으면 자동 일자별 로그 파일을 압축한다.-->
      <fileNamePattern>${LOGS_PATH}/%d{yyyy-MM-dd}_error.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <!--        threshold filter를 넣어서 error 이상의 로그만 걸러지도록 한다.-->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>

  <root level="${LOGS_LEVEL}">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
    <appender-ref ref="Error"/>
  </root>
</configuration>